@import url('https://googleleapis.com/css2?family=varela+round&display=swap');

:root {

    --tr: all 0.5s ease 0s;
    --ch1: #05478a;
    --ch2:#0070e0;
    --cs1:#005e38;
    --cs2:#03a65a;
    --cw1:#c24914;
    --cw2:#fc8621;
    --ce1:#851d41;
    --ce2:#db3056;

}

body {

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background: radial-gradient(circle at 50% 100%, #1d2232, #262434);
    font-family: "varela round", sans-serif;

}

.toast-panel {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--tr);
    position: absolute;
    padding: 0 1rem;
    height: 100%;
    min-height: 20rem;
    min-width: 375px;

}

.toast-item {

    overflow: hidden;
    max-height: 25rem;
    transition: var(--tr);
    animation: show-toast 4s ease 3s 1;

}

@keyframes show-toast {

    0%, 50%, 100% {max-height: 0; opacity: 0;}
    10%, 25% {max-height: 15rem; opacity: 1;}

}

.close {

    position: absolute;
    width: 1.35rem;
    height: 1.35rem;
    text-align: center;
    right: 1rem;
    cursor: pointer;
    border-radius: 100%;

}

.close::after {

    position: absolute;
    font-family: 'varela round', sans-serif;
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 1.8rem;
    content: "+";
    transform: rotate(45deg);
    border-radius: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.close:hover {

    background: #f5f5f5;
    color: var(--clr);

}

